langchain 
langchain-pinecone
langchain-huggingface
langchain-core
sqlalchemy
streamlit
pandas
numpy 
langchain-community
langchain-groq
bottleneck


fastapi
uvicorn
pydantic
python-dotenv
pinecone
psycopg2

arxiv
duckduckgo-search

PyPDF2
duckduckgo-search

wikipedia

ddgs



